body{
    color: black;
    background-color: darkgray;


}


h1{
   
    text-align: center;
    border: 3px solid black;
    text-shadow: blanchedalmond;


}

h2{
    
    text-align-last: center;
}

h3{
 
    text-align-last: center;
}